.projects {
  width: 1366px;
  height: 917px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  background-color: #16181d;
  background-size: cover;
  padding: 72px 120px 144px;

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .my-work {
      font: var(--subtitle);
      color: var(--text-project-my-work);
      text-align: center;
    }

    .title {
      font: var(--title-md);
      color: var(--text-md-project);
      text-align: center;
    }
  }

  .projectCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0px;
    gap: 24px;

    width: 1040px;
    height: 584px;

    flex: none;
    order: 1;
    flex-grow: 0;

  }

  ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;

    li.card1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      gap: 20px;

      width: 330px;
      height: 280px;

      background: #292C34;
      border-radius: 12px;

      flex: none;
      order: 0;

      .img-border {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        width: 330px;
        height: 280px;

        background: #292C34;
        border-radius: 12px;

        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          background-color: #878EA1;
        }
      }

      .text-card1 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-block: 4px 4px;

        span.title {
          font: var(--title-sm);
          color: var(--project-grid-projectCard1-title);
        }

        span.subtitle {
          font: var(--text-sm);
          color: var(--project-grid-projectCard-description);
        }
      }
    }

    li.card2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      gap: 20px;

      width: 330px;
      height: 280px;

      background: #292C34;
      border-radius: 12px;

      flex: none;
      order: 1;


      .img-border {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        width: 330px;
        height: 280px;

        background: #292C34;
        border-radius: 12px;


        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          background-color: #878EA1;
        }
      }

      .text-card2 {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span.title {
          font: var(--title-sm);
          color: var(--project-grid-projectCard1-title);
        }

        span.subtitle {
          font: var(--text-sm);
          color: var(--project-grid-projectCard-description);
        }
      }
    }

    li.card3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      gap: 20px;

      width: 330px;
      height: 280px;

      background: #292C34;
      border-radius: 12px;

      flex: none;
      order: 2;

      .img-border {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        width: 330px;
        height: 280px;

        background: #292C34;
        border-radius: 12px;


        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          background-color: #878EA1;
        }
      }


      .text-card3 {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span.title {
          font: var(--title-sm);
          color: var(--project-grid-projectCard1-title);
        }

        span.subtitle {
          font: var(--text-sm);
          color: var(--project-grid-projectCard-description);
        }
      }
    }

    li.card4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      gap: 20px;

      width: 330px;
      height: 280px;

      background: #292C34;
      border-radius: 12px;

      flex: none;
      order: 3;

      .img-border {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        width: 330px;
        height: 280px;

        background: #292C34;
        border-radius: 12px;


        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          background-color: #878EA1;
        }
      }

      .text-card4 {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span.title {
          font: var(--title-sm);
          color: var(--project-grid-projectCard1-title);
        }

        span.subtitle {
          font: var(--text-sm);
          color: var(--project-grid-projectCard-description);
        }
      }
    }


    li.card5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      gap: 20px;

      width: 330px;
      height: 280px;

      background: #292C34;
      border-radius: 12px;

      flex: none;
      order: 4;


      .img-border {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        width: 330px;
        height: 280px;

        background: #292C34;
        border-radius: 12px;


        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          background-color: #878EA1;
        }
      }

      .text-card5 {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span.title {
          font: var(--title-sm);
          color: var(--project-grid-projectCard1-title);
        }

        span.subtitle {
          font: var(--text-sm);
          color: var(--project-grid-projectCard-description);
        }
      }
    }


    li.card6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      gap: 20px;

      width: 330px;
      height: 280px;

      background: #292C34;
      border-radius: 12px;

      flex: none;
      order: 5;

      .img-border {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        width: 330px;
        height: 280px;

        background: #292C34;
        border-radius: 12px;


        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          background-color: #878EA1;
        }
      }

      .text-card6 {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span.title {
          font: var(--title-sm);
          color: var(--project-grid-projectCard1-title);
        }

        span.subtitle {
          font: var(--text-sm);
          color: var(--project-grid-projectCard-description);
        }
      }
    }
  }
}