.contact {
  width: 1366px;
  margin: 0 auto;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 120px 200px;
  gap: 48px;
  background-image: url('../assets/images/background/Background_Contacts.png');
  background-size: cover;

  & header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .title {
      font: var(--subtitle);
      color: var(--contact-text-subtitle);
    }

    .ask {
      font: var(--title-md);
      color: var(--contact-text-ask);
    }

    .text {
      font: var(--text-md);
      color: var(--contact-text-direction);
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .socialButton1,
    .socialButton2,
    .socialButton3,
    .socialButton4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 12px;
      border-radius: 8px;
      background: #292C34;

      svg {
        width: 28px;
        height: 28px;
        color: var(--social-media-icon);
      }

      .textSocialButton {
        width: 288px;
        height: 22px;
        font: var(--text-md);
        color: var(--icon-color);
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
      }

      .arrowUpRight {
        width: 20px;
        height: 20px;
        color: var(--arrow-icon);
      }
    }
  }
}