.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  background-color: #0D0E11;
  padding: 120px 88px 120px 120px;
  width: 1366px;
  height: 480px;
  margin: 0 auto;

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .title {
      font: var(--subtitle);
      color: var(--services-subtitle);
    }

    .subtitle {
      font: var(--title-md);
      color: var(--services-description);
    }
  }

  .cardService {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    .card1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 20px;
      gap: 20px;
      border-radius: 12px;

      width: 280px;
      height: 155px;

      svg {
        width: 48px;
        height: 48px;
      }

      svg.device {
        color: var(--service-device-icon);
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .cardTitle1 {
          font: var(--title-sm);
          color: var(--services-grid-card-title);
        }

        .cardSubtitle1 {
          font: var(--text-sm);
          color: var(--services-grid-card-subtitle);
        }
      }
    }


    .card2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 20px;
      gap: 20px;
      border-radius: 12px;

      width: 280px;
      height: 155px;


      svg {
        width: 48px;
        height: 48px;
      }

      svg.hardDrives {
        color: var(--service-hardDrives-icon);
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .cardTitle2 {
          font: var(--title-sm);
          color: var(--services-grid-card-title);
        }

        .cardSubtitle2 {
          font: var(--text-sm);
          color: var(--services-grid-card-subtitle);
        }
      }

    }


    .card3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 20px;
      gap: 20px;
      border-radius: 12px;

      width: 280px;
      height: 155px;

      svg {
        width: 48px;
        height: 48px;
      }

      svg.devOps {
        color: var(--service-devOps-icon);
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .cardTitle3 {
          font: var(--title-sm);
          color: var(--services-grid-card-title);
        }

        .cardSubtitle3 {
          font: var(--text-sm);
          color: var(--services-grid-card-subtitle);
        }
      }
    }
  }
}