* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Archivo", sans-serif;
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);

}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

main {
  margin-block: 40px;
  row-gap: 80px;
  column-gap: 32px;

  grid-template-columns: 2fr 1.4fr;
  grid-template-areas:
    "featured featured"
    "weekly weekly"
    "ai aside";
}

.content-tag {
  /* inline-block: se comporta como texto (fica na mesma linha) mas aceita width/height/padding */
  display: inline-block;

  /* cor de fundo usando a variavel definida no :root */
  background-color: var(--brand-color-dark);

  /* padding: espaco interno. 4px em cima/baixo, 8px nas laterais */
  padding: 4px 8px;

  /* arredonda os cantos do elemento */
  border-radius: 4px;

  /* font: shorthand para peso (500), tamanho (10px), altura de linha (1.2) e familia */
  font: 500 10px/1.2 var(--font-family);

  /* transforma todas as letras em maiusculo */
  text-transform: uppercase;

  /* espacamento entre letras (tracking). em = relativo ao tamanho da fonte */
  letter-spacing: 0.04em;

  /* sombra: deslocamento-x deslocamento-y desfoque cor-com-opacidade */
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
}